<div class="verify-container">
  <div class="verify-card">
    <div class="verify-header">
      <h2>ALBUM MANAGEMENT SYSTEM</h2>
    </div>
    <p class="verify-description">
      A streamlined platform to keep your memories safe, categorized, and easily
      accessible anytime.
    </p>
    <mat-card-content>
      <div class="avatar">
        <mat-icon>email</mat-icon>
      </div>
      <p class="verify-text">
        Please verify your email address to complete registration.
      </p>

      <div class="message">
        <p>{{ message }}</p>
      </div>

      <button
        class="mt-4"
        (click)="sendVerificationEmail()"
        [disabled]="isLoading"
      >
        {{ isLoading ? "Sending..." : "Resend Verification Email" }}
      </button>
    </mat-card-content>
  </div>
</div>
