<div class="forgot-password-container">
  <div class="forgot-password-card">
    <h2>ALBUM MANAGEMENT SYSTEM</h2>
    <p class="reset-text">Forgot Your Password?</p>
    <h3>Enter your email to reset your password</h3>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitRequest()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter Email" />
      </mat-form-field>

      <button
        mat-raised-button
        class="full-width primary-button"
        type="submit"
        [disabled]="forgotPasswordForm.invalid"
      >
        Send Reset Link
      </button>
    </form>

    <div class="back-to-login">
      <span>Remembered your password?</span>
      <a href="authentication/login">Back to Login</a>
    </div>
  </div>
</div>
