<div class="header-container">
  <div class="header-left">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon class="text-red-900">menu</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="fileInput.click()">
      [+]
    </button>

    <img
      *ngIf="profileImageUrl"
      class="profile-img"
      [src]="profileImageUrl"
      alt="Profile Picture"
    />
    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      style="display: none"
      #fileInput
    />

    <a href="#" class="user-info">
      <span class="user-name">{{ userForm.get("userName")?.value }} </span
      ><br />
      <span class="user-email">{{ userForm.get("userEmail")?.value }} </span
      ><br />
      <span class="user-contact">{{ userForm.get("userContact")?.value }} </span
      ><br />
      <span class="user-address">{{ userForm.get("userAddress")?.value }}</span>
    </a>
  </div>

  <div class="header-right">
    <button mat-icon-button aria-label="Search">
      <mat-icon class="text-red-900">search</mat-icon>
    </button>

    <!-- Notifications -->
    <button
      mat-icon-button
      aria-label="View notifications"
      [matMenuTriggerFor]="notificationMenu"
    >
      <mat-icon class="text-red-900 text-2xl">notifications_active</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu">
      <button mat-menu-item>No current notifications</button>
    </mat-menu>

    <!-- Apps -->
    <button
      mat-icon-button
      aria-label="View apps"
      [matMenuTriggerFor]="appsMenu"
    >
      <mat-icon class="text-red-900 text-2xl">apps</mat-icon>
    </button>
    <mat-menu #appsMenu="matMenu">
      <button mat-menu-item><mat-icon>assessment</mat-icon> My Albums</button>
      <button mat-menu-item><mat-icon>group</mat-icon> Users</button>
      <button mat-menu-item><mat-icon>inbox</mat-icon> Album Details</button>
      <button mat-menu-item><mat-icon>person</mat-icon>My Profile</button>
      <button mat-menu-item><mat-icon>settings</mat-icon> Settings</button>
    </mat-menu>
  </div>
</div>
