<div
  class="overflow-y-auto w-64 py-10 px-4 h-full sidebar flex flex-col justify-start"
  [ngClass]="{ hidden: !sidebarVisible, block: sidebarVisible }"
>
  <!-- Dashboard Link -->
  <a
    [routerLink]="['dashboard']"
    class="flex items-center p-4 rounded-lg hover:bg-gray-700"
  >
    <mat-icon class="text-white text-3xl">dashboard</mat-icon>
    <span class="ml-4 text-white text-xl">Dashboard</span>
  </a>

  <!-- Home Link -->
  <a
    [routerLink]="['user/list-users']"
    class="flex items-center p-4 rounded-lg hover:bg-gray-700"
  >
    <mat-icon class="text-white text-3xl">store</mat-icon>
    <span class="ml-4 text-white text-xl">HOME</span>
  </a>

  <!-- User Details -->
  <a
    [routerLink]="['details/user-details/:id']"
    class="flex items-center p-4 rounded-lg hover:bg-gray-700 shadow-xl transition-transform hover:scale-105 focus:bg-red-500"
  >
    <mat-icon class="text-white text-3xl">receipt</mat-icon>
    <span class="ml-4 text-white text-xl">User Details</span>
  </a>

  <!-- Album Details -->
  <a
    [routerLink]="['albums/albums/:id']"
    class="flex items-center p-4 rounded-lg hover:bg-gray-700 shadow-xl transition-transform hover:scale-105 focus:bg-red-500"
  >
    <mat-icon class="text-white text-3xl">photo_album</mat-icon>
    <span class="ml-4 text-white text-xl">Album Details</span>
  </a>

  <a
    class="flex items-center p-4 rounded-lg hover:bg-gray-700 shadow-xl transition-transform hover:scale-105 focus:bg-red-500"
    (click)="logout()"
  >
    <mat-icon class="text-white text-3xl">logout</mat-icon>
    <span class="ml-4 text-white text-xl">Logout</span>
  </a>
</div>
